{{! https://megatags.co/ ; meta "name" changed to "property" }}
{{! COMMON TAGS }}
<meta charset="utf-8">
<title>Seed Hooks Guid</title>
{{! Search Engine }}
<meta name="description" content="An Api Guide and Tutorial for Seed Hooks">